<div class="container">
  <div class="box">
    <div class="wrap">
      <div class="item">
        <h1>QrCode Screen</h1>
      </div>
      <div class="item">
        <input type="checkbox" id="chk1922" [checked]="is1922" (change)="onChange()">
        <label for="chk1922">只允許傳送1922簡訊</label>
      </div>
      <div class="item" *ngIf="!isclose">
        <zxing-scanner (scanSuccess)="onCodeResult($event)">
        </zxing-scanner>
      </div>
    </div>
  </div>

</div>

<div class="footer">
  <div class="btngroup">
    <div class="btn btn-succdess" (click)="isclose=!isclose" *ngIf="isclose">
      開啟掃描
    </div>
    <div class="btn btn-danger" (click)="isclose=!isclose" *ngIf="!isclose">
      關閉掃描
    </div>
  </div>
</div>

<div class="full" *ngIf="!disshow">
  <div class="wrap">
    <div class="item">
      <h1>{{recipient}}</h1>
      <h3>{{content}} </h3>
    </div>
    <a href="{{data}}">
      <div class="item btn btn-succdess" *ngIf="is1922Btn">
        發送
      </div>
    </a>
    <div class="item btn btn-danger" (click)="disshow=!disshow">
      掃描
    </div>
  </div>
</div>
